<div class="row">

<div class="col-sm-12 col-md-3 sidebar">

  <button
    type="button"
    class="btn btn-primary mb-2"
    style="width: 100%"
    routerLink="/books/form"
  >
    Добавить книгу
  </button>

  <div class="card-header">Вид</div>

  <div class="card-body">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox">
        Художественная литература
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox">
        Техническая литература
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox">
        Другое
      </label>
    </div>
    </div>

  <div class="card-header">Жанр/Категория</div>
  <div class="card-body">

    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox">
        Фильтр
      </label>
    </div>

    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox">
        Фильтр
      </label>
    </div>

    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox">
        Фильтр
      </label>
    </div>

    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox">
        Фильтр
      </label>
    </div>

    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox">
        Фильтр
      </label>
    </div>

  </div>

  <div class="card-header">Год</div>
  <div class="card-body">

    <div class="form-group">
      <label class="col-form-label" for="inputFrom">От</label>
      <input type="text" class="form-control" placeholder="От" id="inputFrom">
    </div>
    <div class="form-group">
      <label class="col-form-label" for="inputTo">До</label>
      <input type="text" class="form-control" placeholder="До" id="inputTo">
    </div>

  </div>

</div>

<div class="jumbotron col-sm-12 col-md-9 p-3">

  <div class="card flex-row flex-wrap">
    <div class="card-header border-0">
      <img src="//placehold.it/200" alt="" width="200px">
    </div>
    <div class="card-block px-2 p-2">
      <h4 class="card-title">Title</h4>
      <h5 class="card-title">Title</h5>
      <p class="card-text">Description</p>
      <a href="#">Подробнее...</a>
    </div>
    <div class="w-100"></div>
  </div>

</div>

</div>


