<hr class="featurette-divider">

<footer class="container mt-3">
  <div class="row">
    <div class="col-4 text-center mt-2">
      <p>&copy; 2020 Maksym Danylenko</p>
    </div>
    <div class="col-4 text-center mb-3">
      <a href="https://www.linkedin.com/in/maksym-danylenko/" target="_blank">
        <fa-icon id="linkedin" [icon]="faLinkedin" size="3x"></fa-icon>
      </a>
      <a href="https://github.com/MaksymDanylenko" target="_blank">
        <fa-icon id="github" [icon]="faGithub" size="3x"></fa-icon>
      </a>
    </div>
    <div class="col-4 text-center mt-2">
      <p><a href="#">Back to top</a></p>
    </div>
  </div>




</footer>
