<div class="container">
  <div class="row">

    <aside class="col-3">

      <div class="card">
        <article class="card-group-item">
          <header class="card-header" id="category-filter">
            <h6 class="title">Categories</h6>
          </header>
          <div class="filter-content">
            <div class="card-body">
              <form>
                <label class="form-check">
                  <input class="form-check-input" type="checkbox" value="" (change)="addCategory(1)">
                  <span class="form-check-label">1st category</span>
                </label> <!-- form-check.// -->
                <label class="form-check">
                  <input class="form-check-input" type="checkbox" value="" (change)="addCategory(2)">
                  <span class="form-check-label">2nd category</span>
                </label>  <!-- form-check.// -->
                <label class="form-check">
                  <input class="form-check-input" type="checkbox" value="" (change)="addCategory(3)">
                  <span class="form-check-label">3rd category</span>
                </label>  <!-- form-check.// -->
              </form>

            </div> <!-- card-body.// -->
          </div>
        </article> <!-- card-group-item.// -->

        <article class="card-group-item">
          <header class="card-header" id="genre-filter">
            <h6 class="title">Genres</h6>
          </header>
          <div class="filter-content">
            <div class="card-body">
              <form>
                <label class="form-check" *ngFor="let genre of genres">
                  <input class="form-check-input" type="checkbox" value="" (change)="addGenre(genre.id)">
                  <span class="form-check-label">{{genre.name}}</span>
                </label> <!-- form-check.// -->
              </form>

            </div> <!-- card-body.// -->
          </div>
        </article> <!-- card-group-item.// -->

        <article class="card-group-item">
          <header class="card-header" id="author-filter">
            <h6 class="title">Authors</h6>
          </header>
          <div class="filter-content">
            <div class="card-body">
              <form>
                <label class="form-check" *ngFor="let author of authors">
                  <input class="form-check-input" type="checkbox" value="" (change)="addAuthor(author.id)">
                  <span class="form-check-label">{{author.name}}</span>
                </label> <!-- form-check.// -->
              </form>

            </div> <!-- card-body.// -->
          </div>
        </article> <!-- card-group-item.// -->

      </div> <!-- card.// -->

    </aside> <!-- col-3.// -->

    <div class="col-9">
      <div class="card mb-3" *ngFor="let book of books">
        <div class="row no-gutters">
          <div class="col-3">
            <img src="//placehold.it/200" class="img-fluid img-thumbnail" alt="">
          </div>
          <div class="col-9">
            <div class="card-block px-2">
              <h4 class="card-title">{{book.name}}</h4>
              <p *ngFor="let author of book.authors">{{author.name}}</p>
              <p *ngFor="let genre of book.genres">{{genre.name}}</p>
              <p class="card-text">{{book.info}}</p>
            </div>
          </div>
        </div>
      </div>

    </div> <!-- col-9.// -->

  </div> <!-- row.// -->
</div> <!-- container.// -->
